# =========================
# Dependencies
# =========================
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =========================
# Next.js
# =========================
.next/
out/
build/

# =========================
# Environment variables
# =========================
.env*
!.env.example

# =========================
# Firebase (VERY IMPORTANT)
# =========================
*.json
!package.json
!tsconfig.json
!components.json

# Firebase Service Account Keys
*firebase-adminsdk*.json

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Testing
# =========================
coverage/

# =========================
# Vercel
# =========================
.vercel

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# Cache
# =========================
.swc/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Misc
# =========================
*.pem